<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('12312')">Detalle not found</button>
<hr>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"></app-product>
  <button (click)="loadMore()">Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{statusDetail}}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>
      {{productChosen.title}}
    </h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="product-img">
      </ng-template>
    </swiper>
    <p>
      {{productChosen.description}}
    </p>
    <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
